

<html>
    
<!--https://colorhunt.co/palette/f8f4e1af8f6f74512d543310-->
    
<head>
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,700,1,200" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"
    type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"
    type="image/x-icon">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
</head>








<body style="background-color: rgb(248, 244, 225)">




  <div class="container">
    {% block page_content %}
    
    {% endblock %}
  </div>
  
  






  <div class="fixed-bottom">
          <div class="bottom_nav">

                <div class="container">
                  <div class="row" style="padding-top: 20px;">
                  

                    
                    <div class="col">
                      <div class="text-center">
                        
                            <a  href="/">
                              <span class="material-symbols-rounded">
                                home
                                </span>
                            </a>

                        </div>
                    </div>
                      


                      
                      <div class="col">
                        <div class="text-center">
                          
                              <a  href="{{url_for("weeks")}}">
                                <span class="material-symbols-rounded">
                                  calendar_view_day
                                  </span>
                              </a>
                        
                        </div>
                      </div>
                      


                      <div class="col">
                        <div class="text-center">

                            <a href="/">
                              <span class="material-symbols-rounded">
                                person
                                </span>
                            </a>
                          

                       </div>
                      </div>




                    <div class="col">
                      <div class="text-center">
                            <a href="/">
                              <span class="material-symbols-rounded">
                                show_chart
                                </span>
                            </a>
                      </div>
                    </div>




                  </div>
                </div>
                

          </div>
  </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    
  </body>
  


</html>