{%extends 'base.html'%}
{%from 'macros.html' import top_navbar %}
{%block page_content%}

<div class="page-header">
    

    {{ top_navbar( exercise , url_for("exercises",weeknum = weeknum,muscle_group =muscle_group )) }}
    
    
    
   



    

   



</div>

<div class="container details_container" >
<div class="content">

    
    <div class="row" >
        
        <div class="col">
            <form action="{{ url_for("save_details") }}" method="post">
                
                <input type="hidden" name="exercise" value= "{{ exercise }}" > 
                <input type="hidden" name="weeknum" value= "{{ weeknum }}" > 
                <input type="hidden" name="muscle_group" value="{{ muscle_group }}" >
                
                
                
                
                <h4>Current <br>week</h4>
                <hr>
                
                <br>
                <div class="" >

                    <div class="input-group mb3">
                        
                        <input class="form-control text_form"  type="number" name="weight" id="" min="0" max="100" placeholder="{{data[weeknum][muscle_group][exercise]["weight"]}}">
                        <div class="input-group-append">
                            <span class="input-group-text text_form"> 
                                <span class="material-symbols-rounded" style="color: F8F4E1;">
                                    exercise
                                </span>
                        </span>
                    </div>
                    
                </div>
                
                <div style="height: 12px;"></div>
                
                
                
                
                
                <div class="input-group mb3">
                    
                    <input class="form-control text_form"  type="number" name="rep" id="" min="0" max="50" placeholder="{{data[weeknum][muscle_group][exercise]["rep"]}}">
                    <div class="input-group-append">
                        <span class="input-group-text text_form">
                            <span class="material-symbols-rounded" style="color: F8F4E1;">
                                front_hand
                            </span>
                        </span>
                    </div>
                    
                </div>
                
                
                <div style="height: 20px;"></div>
                
                
                <div class="input-group mb3">
                    
                    <input class="form-control text_form"  type="number" name="set" id="" min="0" max="50" placeholder="{{data[weeknum][muscle_group][exercise]["set"]}}">
                    <div class="input-group-append">
                        <span class="input-group-text text_form">
                            <span class="material-symbols-rounded" style="color: F8F4E1;">
                                repeat_one
                            </span>
                        </span>
                    </div>
                    
                </div>
            </div>
                <br>
                <hr>
                
                <button class="btn-circular" >
                    <span class="material-symbols-rounded">
                        save
                        </span>
                </button>
                
            </form>
        </div>
        
        
        
        <div class="col">
            
            {%if previous_data_existance == 1%}
            
            <!-- <h3>Previous week</h3>
                <hr>
                
                
                
                <div class="input-group mb3">
                    
                    <input class="form-control" readonly type="number" name="cur_data" id="" min="0" max="50" placeholder="{{data[previous_weeknum][muscle_group][exercise]["weight"]}}">
                    <div class="input-group-append">
                        <span class="input-group-text"> Kg</span>
                    </div>
                    
                </div>
                
                
                <hr>
                
                
                <div class="input-group mb3">
                    
                    <input class="form-control" readonly type="number" name="cur_data" id="" min="0" max="50" placeholder="{{data[previous_weeknum][muscle_group][exercise]["set"]}}">
                    <div class="input-group-append">
                        <span class="input-group-text">Sets</span>
                    </div>
                    
                </div>
                
                
                <hr>
                
                
                <div class="input-group mb3">
                    
                    <input class="form-control" readonly type="number" name="cur_data" id="" min="0" max="50" placeholder="{{data[previous_weeknum][muscle_group][exercise]["rep"]}}">
                    <div class="input-group-append">
                        <span class="input-group-text">Reps</span>
                    </div>
                    
                </div> -->
                
                
                <h4>Previous <br> week</h4>
                <hr>
                <div class="container details-card">
                    <div class="row">
                        <div class="col-6">
                            Weight
                        </div>
                        
                        <div class="col">
                            {{data[previous_weeknum][muscle_group][exercise]["weight"]}}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            Reps
                        </div>
                        <div class="col">
                            {{data[previous_weeknum][muscle_group][exercise]["rep"]}}
                        </div>
                    </div>
                    
                    
                    <hr>
                    
                    
                    
                    
                    <div class="row">
                        <div class="col-6">
                            Set
                        </div>
                        <div class="col">
                            {{data[previous_weeknum][muscle_group][exercise]["set"]}}
                        </div>
                    </div>
                    
                    
                </div>
                
                
                
                {%else%}
                
                <h4>No previous data</h4>
                
                {%endif%}
                
                
            </div>
            
            
            
            
            
            
            
            
            
        </div>
            
        </div>
        
        
        
    </div>
    
    {%endblock%}