{%extends 'base.html'%}
{%block page_content%}

<div class="page-header">
    
    
    
    <h1>Exercises</h1>
    <h2> {{muscle_group}}</h2>
    
    <h5>Below are the list of Exercises to choose from:</h5>
   <hr>

    <form action="{{ url_for('add_exercise') }}" method="post">
            
        <div class="input-group mb-3">
                <input type="hidden" name="weeknum" value= "{{ weeknum }}" > 
                <input type="hidden" name="muscle_group" value="{{ muscle_group }}" > 
                <input type="text" name="exercise" id="" required maxlength="30" minlength="2 " placeholder="  Muscle exercise Name" >
                <div class="input-group-append">
                    <button type="submit" class="btn btn-lg btn-outline-success">Add</button>
                </div>

        </div>
    </form>
<hr>


</div>

<div class="container">

    
    {% for i in exercise_list %}
    <div class="container">
        <div class="row">

            <div class="col">
                
                <a href="{{url_for('details',weeknum = weeknum,muscle_group = muscle_group,exercise = i)}}">
                    <button class="btn  btn-info">{{i}}</button>
                </a>

            </div>

            <div class="col">
                    <form method="POST" action="{{ url_for('exercise_actions') }}">
                        
                        <input type="hidden" name="weeknum" value="{{weeknum}}"> 
                        <input type="hidden" name="muscle_group" value="{{ muscle_group }}" > 
                        <div class="btn-group">
                            <button class = "btn btn-outline-secondary" name="action" value="edit" type = "submit">edit</button>

                            
                            <button class="btn btn-outline-danger " name="action" value="remove ,{{i}}" type = "submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                                    </svg>
                            </button>

                        </div>

                    </form>
            </div>


        </div>
    </div>
        
        <hr>
        
    {%endfor%}
    
</div>

{%endblock%}