{%extends 'base.html'%}
{%block page_content%}
{%from 'macros.html' import top_navbar %}

<div class="page-header">
    
    
    {{ top_navbar( muscle_group, url_for("muscle_groups",weeknum = weeknum)) }}


    
    <h5>Below are the list of Exercises to choose from:</h5>
    
   <hr>
   <div class="container" style="padding-left: 25px;">

    <form action="{{ url_for('add_exercise') }}" method="post">
        
        <div class="row">
            <input type="hidden" name="weeknum" value= "{{ weeknum }}" > 
            <input type="hidden" name="muscle_group" value="{{ muscle_group }}" > 
            <input type="text" class="text_form" name="exercise" id="" required maxlength="30" minlength="2 " placeholder=" Muscle exercise Name" >
            <div class="input-group-append">
                <button type="submit" class="btn-circular-sm" style="background-color:  rgb(175, 143, 111); margin-left: 10px;">
                    <span class="material-symbols-rounded">
                        add
                        </span>
                </button>
            </div>
            
        </div>
    </form>
</div>
<hr>


</div>

<br>

<div class="container">

    
    {% for i in exercise_list %}
    <div class="container">
        <div class="row">

            <div class="col">
                
                <a href="{{url_for('details',weeknum = weeknum,muscle_group = muscle_group,exercise = i)}}">
                    <button class="btn  btn-info">{{i}}</button>
                </a>

            </div>

            <div class="col">
                    <form method="POST" action="{{ url_for('exercise_actions') }}">
                        
                        <input type="hidden" name="weeknum" value="{{weeknum}}"> 
                        <input type="hidden" name="muscle_group" value="{{ muscle_group }}" > 
                        <div class="btn-group">
                            <button class = "btn  btn-info" name="action" value="edit" type = "submit">edit</button>


                            <button class="btn  btn-info" style="background-color: AF8F6F !important;" name="action" value="remove ,{{i}}" type = "submit">
                                <span class="material-symbols-rounded">
                                    delete_forever
                                    </span>
                            </button>

                        </div>

                    </form>
            </div>


        </div>
    </div>
        
        <hr>
        
    {%endfor%}
    
</div>


{%endblock%}