    {% macro top_navbar(heading,url) %}
    
    <div class="top_heading fixed-top">

        <div class="row">
            <div class="col-9" >
                <h2 style="margin-top: 4px; font-weight: 600;">{{heading}}</h2>
            </div>
            <div class="col-3">
                
                <a href="{{url}}">
                    
                    <button class="btn-circular-sm">
                        <span class="material-symbols-rounded">
                            arrow_back
                            </span>
                    </button>
                    
                </a>

            </div>
            
        </div>
    </div>

    {% endmacro %}