{%extends 'base.html'%}
{%from 'macros.html' import top_navbar %}
{%block page_content%}

<div class="page-header">

    
    {{ top_navbar( "Week "+weeknum , url_for('weeks')) }}

        
    
    
    <h5>Below are the list of Muscle groups </h5>

<hr>

   
   
   
   <div class="container" style="padding-left: 25px;">

        <form action="{{ url_for('add_muscle_group') }}" method="post">
            
            <div class="row">

                    <input type="hidden" name="weeknum" value="{{ weeknum }}" > 
                    <input type="text" class="text_form" name="group" id="" required maxlength="30" minlength="2 " placeholder="  Muscle group Name" >
                    
                    <div class="input-group-append">
                        <button type="submit" class=" btn-circular-sm" style="background-color: AF8F6F; margin-left: 10px;">
                            <span class="material-symbols-rounded primary_color">
                                add
                                </span>
                        </button>
                    </div>
                
            </div>
        </form>

  </div>




  <hr>


</div>

<br>

<div class="container">

    
    {% for i in muscle_group_list %}
    <div class="container">
        <div class="row">

            <div class="col">
                
                <a href="{{url_for('exercises',weeknum = weeknum,muscle_group = i)}}">
                    <button class="btn btn-lg  btn-info">{{i}}</button>
                </a>

            </div>

            <div class="col">
                    <form method="POST" action="{{ url_for('muscle_group_actions') }}">
                        
                        <input type="hidden" name="weeknum" value="{{weeknum}}"> 
                        <div class="btn-group">
                            <button class = "btn btn-lg btn-info" name="action" value="edit" type = "submit">edit</button>


                            <button class="btn btn-lg btn-info" style="background-color: AF8F6F !important;" name="action" value="remove ,{{i}}" type = "submit">
                                <span class="material-symbols-rounded">
                                    delete_forever
                                    </span>
                            </button>

                        </div>

                    </form>
            </div>


        </div>
    </div>
        
        <hr>
        
    {%endfor%}
    
</div>


{%endblock%}