{%extends 'base.html'%}

{%block page_content%}

<div class="page-header">
    
    
    
    <h1>Weeks</h1>
    
    <h5>Below are the list of weeks to choose from:</h5>
    <hr>
            
    
            <form method="POST" action="{{ url_for('week_actions') }}">
                        <div class="btn-group">
                            <button type="submit" class="btn btn-lg btn-danger" name="action" value="remove">Remove</button>
                            <button type="submit" class="btn btn-lg btn-primary" name="action" value="add_week">Add Week</button>
                            <button type="submit" class="btn btn-lg btn-success" name="action" value="duplicate">Duplicate</button>
                        </div>
                        
            </form>
                        
                        
    <hr> 
    




</div>









<div class="container">

    
    {% for i in range(data.get('no_of_weeks'),0,-1 ) %}
    <a href="{{url_for('muscle_groups',weeknum = i)}}">
        <button class="btn  btn-info">week {{i}}</button>
        <hr>
        
    </a>
    {%endfor%}
    
</div>

{%endblock%}