{%extends 'base.html'%}

{%block page_content%}

<div class="page-header">
    
    
    <div class="top_heading fixed-top">
        <h2>Weeks</h2>
    </div>
    
    <h7>Below are the list of weeks to choose from:</h7>
    <hr>
            
    
            <form method="POST" action="{{ url_for('week_actions') }}">
                        <div class="btn-group">
                            <button type="submit" class="btn-circular" style="background-color: rgb(90, 170, 102);" name="action" value="add_week"><h1>+</h1></button>
                            <button type="submit" class="btn-circular" style="background-color: rgb(0, 128, 255);" name="action" value="duplicate">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                                </svg>
                            </button>
                            <button type="submit" class="btn-circular" name="action" value="remove" style="background-color: rgb(185, 62, 62);"><h1>-</h1></button>
                        </div>


                        
            </form>
                        
                        
    <hr> 
    




</div>









<div class="container" style="text-align: center;">

    
    {% for i in range(data.get('no_of_weeks'),0,-1 ) %}
    <a href="{{url_for('muscle_groups',weeknum = i)}}">
        <button class="btn-circular">{{i}}</button>

        
    </a>
    {%endfor%}
    <hr>
</div>

{%endblock%}