{%extends 'base.html'%}

{%block page_content%}

<div class="page-header">
    
    
    <div class="top_heading fixed-top">
        <h1>Weeks</h1>
    </div>
    
    <h5>Below are the list of weeks to choose from:</h5>
    <br>
            
    
            <form method="POST" action="{{ url_for('week_actions') }}">
                        <div class="btn-group">
                            <button type="submit" class="btn-circular"  style="background-color: AF8F6F" name="action" value="add_week">
                                <span class="material-symbols-rounded">
                                    add
                                    </span></button>
                            <button type="submit" class="btn-circular" style="background-color: AF8F6F" name="action" value="duplicate">
                                <span class="material-symbols-outlined">
                                    content_copy
                                    </span>
                            </button>
                            <button type="submit" class="btn-circular" name="action" value="remove" style="background-color: AF8F6F">
                                <span class="material-symbols-rounded">
                                    delete_forever
                                    </span>
                            </button>
                        </div>


                        
            </form>
                        
                        
    <hr> 
    




</div>









<div class="container" style="text-align: center;">

    
    {% for i in range(data.get('no_of_weeks'),0,-1 ) %}
    <a href="{{url_for('muscle_groups',weeknum = i)}}">
        <button class="btn-circular">{{i}}</button>

        
    </a>
    {%endfor%}
    <hr>
</div>

{%endblock%}